


/* ===== Estilos generales del menú ===== */
.nav {
    display: flex;
  justify-content: center;              /* Centra los ítems */
  background-color: #f6f7f8;            /* Fondo gris muy claro */
  padding: 10px 0;
  border-radius: 0;                     /* Sin bordes redondeados */
}

/* ===== Estilos de los links ===== */
.nav-link {
  color: #555 !important;                          /* Gris suave */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin: 0 15px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

/* Quita el fondo azul de Bootstrap del activo */
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: black !important;
  font-weight: 600; 
}

/* ===== Efecto hover: texto en negrita + línea naranja abajo ===== */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: #555 ;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover {
  color: #000;            /* Negro al pasar el mouse */
  font-weight: 600;       /* Negrita */
}

.nav-link:hover::after {
  width: 100%;            /* Muestra la línea */
}

/* ===== Ajustes del menú desplegable ===== */
.dropdown-menu {
  border: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.dropdown-item:hover {
  background-color: #fff0e0;
  font-weight: 600;
  color: #000;
} 
 /* BODY*/ 
.bg-light { background-color: #0a0c32 !important;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;}


#contenedorGeneral {background-color: #7fc394;
    width: 800px;
    border: solid black;
    border-radius: 45px;
	height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;}


.text-center {
    text-align: left !important;}

h2 {font-family: "Coda";
    font-weight: 800; 
    font-style: normal; 
    font-size: 3em; 
    color: #0a0c32; }

.form-label {font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; font-size: 1.3em}

form {width: 650px}



footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: #e79898 ;
    align-items: center;
     margin: 1em}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}


a {   font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #0a0c32;
  text-decoration: none;
  font-size: 1.2em;}
  
