/* Colores de la paleta */
:root {
  --verde-reseda: #757761;
  --regaliz: #120309;
  --verde-sgbus: #9BE564;
  --bigaro: #CCC9E7;
  --cornell-rojo: #BF211E;
}

/* Fondo general */
body {
  background-color: var(--regaliz) !important;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

/* Contenedor principal */
section.contenedor-general {
    background-color: var(--verde-sgbus);
    border: 3px solid var(--cornell-rojo);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    gap: 20px;
    width: 800px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 
    margin: 1.5em;
}

/* Contenedores internos */
.contenedor {
background-color: var(--bigaro);
    color: var(--cornell-rojo);
    width: 85%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

p {font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3em;}



  a {font-family: "Coda";
    font-style: normal;
    color: #293416 !important;}
  



/* ===== Estilos generales del menú ===== */

.nav {position: relative; top: 10px;
  justify-content: center;              /* Centra los ítems */
  background-color: #f6f7f8;            /* Fondo gris muy claro */
  padding: 10px 0;
  border-radius: 0;                     /* Sin bordes redondeados */
}

/* ===== Estilos de los links ===== */
.nav-link {
  color: #555 !important;                          /* Gris suave */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin: 0 15px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

/* Quita el fondo azul de Bootstrap del activo */
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: black !important;
  font-weight: 600; 
}

/* ===== Efecto hover: texto en negrita + línea naranja abajo ===== */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: #555 ;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover {
  color: #000;            /* Negro al pasar el mouse */
  font-weight: 600;       /* Negrita */
}

.nav-link:hover::after {
  width: 100%;            /* Muestra la línea */
}

/* ===== Ajustes del menú desplegable ===== */
.dropdown-menu {
  border: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.dropdown-item:hover {
  background-color: #fff0e0;
  font-weight: 600;
  color: #000;
}