body {background-color: black;}


#contenedorGeneral {
  background-color: #F0F0F0; 
  margin: 1em auto;
  display: flex;
  flex-direction: column;
width: 1150px; min-height: 1500px;
align-items: center;
}


#contenedor1 {height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;}

#contenedor1A {display: flex;
    width: 1100px;
    height: 450px;
    flex-wrap: nowrap;}

#p-portfolio {
  font-family: "Coda", system-ui;
  font-weight: 800;
 font-style: normal;
font-size: 6em;}

#c-portfolio {position: relative;
    top: 130px;
    left: 130px;
    z-index: 2;
    width: 800px;
    height: 280px;}


#c-año {}
#p-año {
  font-family: "Coda", system-ui;
  font-weight: 800;
 font-style: normal;
 color: #167A04; 
font-size: 2em}


#contenedor1B {position: relative;
    left: 50px;
    top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;}

#p-nombre , #p-fotografia {  
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal; 
  font-size: 4em;}



#c-imagen {position: relative;
    right: 60px;
    z-index: 1;
    height: 500px;
    display: flex;
    justify-content: flex-end;  }

#imgMolino { height: 450px ; margin-right: 2em}





#contenedor2 {
  height: 700px;
  width: 1150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

/* Cada columna */
.col {
  font-size: 1.5em;
  height: 300px;
  width: 260px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

/* El link ocupa todo el espacio del contenedor */
.tarjeta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 8px;
}

/* Efecto hover */
.tarjeta:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* Fondo por cada categoría */
.tarjeta.musica {
  background-image: url("../img/musica/tarjeta-musica.jpg");}

.tarjeta.naturaleza {
  background-image: url("../img/naturaleza/tarjeta-naturaleza.jpg");}

.tarjeta.urbana {
  background-image: url("../img/urbana/tarjeta-urbana.jpg");}

.tarjeta.perfo {
  background-image: url("../img/perfo/tarjeta-perfo.jpg");}

.tarjeta.inspiraciones {
  background-image: url("../img/tarjeta-inspiraciones.jpg");}

.tarjeta.reflexiones {
  background-image: url("../img/tarjeta-reflexiones.jpg");}

.tarjeta.contacto {
  background-image: url("../img/tarjeta-contacto.jpg");}

.tarjeta.datos {
  background-image: url("../img/tarjeta-datos.jpg");}

/* Texto centrado con sombra para que se lea mejor */
.tarjeta span {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  border-radius: 5px;
}



footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: green;
    align-items: center;
    position: relative;
    top: 70px;}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}

footer a {  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(249 249 249);
  text-decoration: none;
  font-size: 1.2em;}

