body {display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05362f;}

.carousel-inner {
	margin: 1em auto;
width: 1250px; height: 650px;}



.contenedor-slide {width: 1250px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;}



.imagen-vertical {max-width: 750px;
    margin: 2em;}
.imagen-horizontal {margin: 2em}
img {max-height: 500px}



.texto {width: 400px; 
		max-height: 550px;
		 color: white;}

h2 {font-family: "Coda";
    font-weight: 800;
    font-style: normal;
    font-size: 5em;
    color: #dadb86}

h3 {color: white; padding: 1em;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;;font-size: 1.3em;}

h4 {font-family: "Homenaje", sans-serif;
  font-weight: 400;
  font-style: normal;}

p {font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}

.instagram {align-self: center;}


#aves {display: flex; justify-content: center;
	width: 600px;}
.foto-ave {max-width: 300px}



.imagen-texto {width: 280px;
    display: flex;
    flex-direction: column;
    margin: 2em;}

.triple {justify-content: center;}




footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color:#dadb86 ;
    align-items: center;
    position: relative;}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}

footer a {  font-family: "Coda", system-ui;
  color: #5a0505;
  text-decoration: none;
  font-size: 1.2em;}

 a {font-family: "Coda";
  font-style: normal;
  color: #293416;
  text-decoration: none;
  font-size: 1.2em;}
  

#volver {padding: 0.8em;
    background-color: #ff5e00;
    width: fit-content;
    color: white;
    margin-top: 1em;
    align-self: flex-start;}


