body {background-color: black;}

h2  {font-family: "Coda";
    font-weight: 800; 
    font-style: normal; 
    font-size: 5em; 
    color: #dadb86; 
    margin: 0;
    margin-top: 0.5em; 
    text-align: center;
    word-spacing: 150px;
    letter-spacing: 10px;}


#contenedorGeneral {
  background-color: #F0F0F0; 
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 1150px; min-height: 1500px;}

section { 
  max-width:1100px; width:1100px; 
  height:800px; min-height:500px; 
  display: flex; justify-content: space-evenly;}

img {height: 550px;}


.c-texto {height: 80px; 
         display: flex;
          align-items: center;
          font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1em;}



#c-par-1 { height: 1000px; }

#c-img-txt-voz-saturno  {max-width:500px; height: 600px;                 /*-- VERTICAL*/
                        display: flex; flex-direction: column; 
                        position: relative;     top: 30px;}  


 
#c-img-txt-heroes {max-width:500px; height: 600px;                 /*-- VERTICAL*/
                  display: flex; flex-direction: column; 
                  position: relative; top: 330px} 



#c-par-2 { height: 700px; }
#c-img-txt-kaptiva1 {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; 
                    position: relative; bottom: 160px;} 
 
#c-img-txt-kaptiva2 {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
 



#c-img-txt-invierno {width: 1000px;                                /*-- HORIZONTAL*/
                     height: 450px;
                    display: flex;
                     flex-direction: column;
                     align-items: flex-end;
                     justify-content: flex-start } 
#c-img-txt-invierno img { height: 350px }  




#c-img-txt-leal {max-width:500px; height: 600px;                 /*-- VERTICAL*/
                display: flex; flex-direction: column; 
                position: relative; bottom: 600px; } 
 

#c-img-txt-jovencita {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                      display: flex; flex-direction: column;} 
#c-par-3 {height: 650px}


           

#c-img-txt-camionero {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; 
                    position: relative; bottom: 300px;} 
 
#c-img-txt-santos {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
#c-par-4 { height: 650px; }




 
#c-img-txt-rockstar {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; 
                    position: relative; bottom: 300px;} 
 
#c-img-txt-radical {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
#c-par-5 { height: 650px; }




 
#c-img-txt-micky-1 {max-width:1000px; height: 700px;                 /*-- HORIZONTAL*/
                    display: flex; flex-direction: column; 
                    align-items: flex-end; justify-content: flex-start;} 

#c-img-txt-micky-2 {max-width:1000px; height: 700px;                 /*-- HORIZONTAL*/
                    display: flex; flex-direction: column; 
                   } 

#c-img-txt-micky-3 {max-width:1000px; height: 700px;                 /*-- HORIZONTAL*/
                    display: flex; flex-direction: column; 
                    align-items: flex-end; justify-content: flex-start;} 




#c-img-txt-metal {max-width:500px; height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
 
#c-img-txt-bajo-saturno {max-width:500px;  height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column;} 
#c-par-6 {height: 650px}  



 
#c-img-txt-physical {width:1000px; height: 700px;                 /*-- HORIZONTAL*/
                    display: flex; flex-direction: column; 
                    justify-content: flex-start;}    



 
#c-img-txt-interior {max-width:500px;  height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
 
#c-img-txt-batero {max-width:500px;   height: 500px;                 /*-- VERTICAL*/
                    display: flex; flex-direction: column; } 
#c-par-7 {justify-content: flex-end;
    gap: 35px; height: 650px}




#c-img-txt-bajo-nacional {max-width:1000px; height: 600px;                 /*-- HORIZONTAL*/
                    display: flex; flex-direction: column; 
                    justify-content: flex-start; } 
#c-img-txt-bajo-nacional img {height: 450px}




footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: #05362f ;
    align-items: center;
    position: relative; margin: 1em}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}


 a {   font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #dadb86;
  text-decoration: none;
  font-size: 1.2em;}
  
#volver {padding: 0.8em;
    background-color: #ff5e00;
    width: fit-content;
    color: white;}
