body {background-color: #293416;}

h2  {font-family: "Coda";
    font-weight: 800; 
    font-style: normal; 
    font-size: 5em; 
    color: #dfaf00;; 
    margin: 0;
    margin-top: 0.5em; 
    text-align: center;
    letter-spacing: 30px;}

#contenedorGeneral {
  background-color: #d3fdc5; 
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 1150px; min-height: 1500px;}


section { 
  max-width:1100px; width:1100px; 
  height:650px; min-height:500px; 
  display: flex; justify-content: space-evenly;}

img {height: 550px;}


#c-par-1 {padding: 1em }
#c-imagen-calandria img {height: 300px}


#c-imagen-jugando { position: relative; bottom: 300px ;}

#c-imagen-manada img {height: 350px; 
                    position: relative; bottom: 200px}
                    
#c-imagen-chape { position: relative; bottom: 200px ;}












footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: #dfaf00 ;
    align-items: center;
    position: relative; margin: 1em}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}

a {   font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #293416;
  text-decoration: none;
  font-size: 1.2em;}


#volver {padding: 0.8em;
    background-color: #ff5e00;
    width: fit-content;
    position: relative;
    left: 100px;
    color: white;}
