body {background-color: #052326;}

h2  {font-family: "Coda";
    font-weight: 800; 
    font-style: normal; 
    font-size: 5em; 
    color: #ff5e00; 
    margin: 0;
    margin-top: 0.5em; 
    text-align: right;
    position: relative;
    letter-spacing: 30px;
    right: 55px;}

#contenedorGeneral {
  background-color: #F0F0F0; 
  margin: 1em auto;
  display: flex;
flex-direction: row;
  align-items: stretch;
width: 1150px; height: 2500px;}


section { 
  max-width:600px; width:50%; 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
      gap: 100px;
    margin-top: 2em;
    align-items: center;}

img {width: 500px;}






footer {height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: #ff5e00 ;
    align-items: center;
    position: relative; left: 200px;
     margin: 1em}

footer div {height: 50px;
    width: 300px;
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;}

footer img {height: 40px; width: 40px; border-radius: 10px}



 a {   font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #293416;
  text-decoration: none;
  font-size: 1.2em;}
  

#volver {padding: 0.8em;
    background-color: #ff5e00;
    width: fit-content;
    position: relative;
    left: 100px;
    color: white;}

